.card {
    background-color: grey;
    border-radius: 8px;
    flex-shrink: 1;
}

.grid {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    color:coral;
}

.rating{
    color: gold;
}

img {
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    object-fit: contain;
}